#f0e4d0: #f0e4d0;
#553c13: #553c13;

body {
  background-color: #333;
}

@mixin foodColoring(#553c13) {
  background-color: #553c13;
  box-shadow: 0 2px 0px lighten(#553c13, 5%), 0 4px 0px darken(#553c13, 8.2%),
    0 6px 0px darken(#553c13, 8.4%), 0 8px 0px darken(#553c13, 8.6%),
    0 10px 0px darken(#553c13, 8.8%), 0 12px 0px darken(#553c13, 9%),
    0 14px 0px darken(#553c13, 9.2%), 0 16px 0px darken(#553c13, 9.4%),
    0 18px 0px darken(#553c13, 9.6%), 0 20px 0px darken(#553c13, 9.8%),
    0 22px 0px darken(#553c13, 10%), 0 24px 0px darken(#553c13, 10.2%),
    0 26px 0px darken(#553c13, 10.4%), 0 28px 0px darken(#553c13, 10.6%),
    0 30px 0px darken(#553c13, 10.8%);
}

.cake {
  position: absolute;
  width: 250px;
  height: 200px;
  /* top: 50%;
  left: 50%; */
  margin-top: -70px;
  margin-left: -125px;
  bottom: 100px;
}

.plate {
  width: 270px;
  height: 110px;
  position: absolute;
  bottom: -10px;
  left: -10px;
  background-color: #ccc;
  border-radius: 50%;
  box-shadow: 0 2px 0 darken(#ccc, 10%), 0 4px 0 darken(#ccc, 10%),
    0 5px 40px rgba(black, 0.5);
}

.cake > * {
  position: absolute;
}

.layer {
  position: absolute;
  display: block;
  width: 250px;
  height: 100px;
  border-radius: 50%;
  background-color: #553c13;
  box-shadow: 0 2px 0px lighten(#553c13, 5%), 0 4px 0px darken(#553c13, 8.2%),
    0 6px 0px darken(#553c13, 8.4%), 0 8px 0px darken(#553c13, 8.6%),
    0 10px 0px darken(#553c13, 8.8%), 0 12px 0px darken(#553c13, 9%),
    0 14px 0px darken(#553c13, 9.2%), 0 16px 0px darken(#553c13, 9.4%),
    0 18px 0px darken(#553c13, 9.6%), 0 20px 0px darken(#553c13, 9.8%),
    0 22px 0px darken(#553c13, 10%), 0 24px 0px darken(#553c13, 10.2%),
    0 26px 0px darken(#553c13, 10.4%), 0 28px 0px darken(#553c13, 10.6%),
    0 30px 0px darken(#553c13, 10.8%);
  @include foodColoring(#553c13);
}

.layer-top {
  top: 0px;
}
.layer-middle {
  top: 33px;
}
.layer-bottom {
  top: 66px;
}

.icing {
  top: 2px;
  left: 5px;
  background-color: #f0e4d0;
  width: 240px;
  height: 90px;
  border-radius: 50%;
  &:before {
    content: "";
    position: absolute;
    top: 4px;
    right: 5px;
    bottom: 6px;
    left: 5px;
    background-color: lighten(#f0e4d0, 3%);
    box-shadow: 0 0 4px lighten(#f0e4d0, 5%), 0 0 4px lighten(#f0e4d0, 5%),
      0 0 4px lighten(#f0e4d0, 5%);
    border-radius: 50%;
    z-index: 1;
  }
}

.drip {
  display: block;
  width: 50px;
  height: 60px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #f0e4d0;
}

.drip1 {
  top: 53px;
  left: 5px;
  transform: skewY(15deg);
  height: 48px;
  width: 40px;
}

.drip2 {
  top: 69px;
  left: 181px;
  transform: skewY(-15deg);
}

.drip3 {
  top: 54px;
  left: 90px;
  width: 80px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.candle {
  background-color: #7b020b;
  width: 16px;
  height: 50px;
  border-radius: 8px / 4px;
  top: -20px;
  left: 50%;
  margin-left: -8px;
  z-index: 10;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 8px;
    border-radius: 50%;
    background-color: lighten(#7b020b, 10%);
  }
}

.flame {
  position: absolute;
  background-color: orange;
  background: rgba(255, 255, 255, 2);
  width: 15px;
  height: 35px;
  border-radius: 10px 10px 10px 10px / 25px 25px 10px 10px;
  top: -34px;
  left: 50%;
  margin-left: -7.5px;
  z-index: 10;
  box-shadow: 0 0 15px 0 rgba(247, 93, 0, 0.4),
    0 -6px 4px 0 rgba(247, 128, 0, 0.7);
  transform-origin: 50% 90%;
  animation: flicker 1s ease-in-out alternate infinite;
}

@keyframes flicker {
  0% {
    transform: skewX(5deg);
    box-shadow: 0 0 10px rgba(orange, 0.2), 0 0 20px rgba(orange, 0.2),
      0 0 60px rgba(orange, 0.2), 0 0 80px rgba(orange, 0.2);
  }
  25% {
    transform: skewX(-5deg);
    box-shadow: 0 0 10px rgba(orange, 0.5), 0 0 20px rgba(orange, 0.5),
      0 0 60px rgba(orange, 0.5), 0 0 80px rgba(orange, 0.5);
  }
  50% {
    transform: skewX(10deg);
    box-shadow: 0 0 10px rgba(orange, 0.3), 0 0 20px rgba(orange, 0.3),
      0 0 60px rgba(orange, 0.3), 0 0 80px rgba(orange, 0.3);
  }
  75% {
    transform: skewX(-10deg);
    box-shadow: 0 0 10px rgba(orange, 0.4), 0 0 20px rgba(orange, 0.4),
      0 0 60px rgba(orange, 0.4), 0 0 80px rgba(orange, 0.4);
  }
  100% {
    transform: skewX(5deg);
    box-shadow: 0 0 10px rgba(orange, 0);
  }
}

/* new style */

@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700,700i");

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  word-break: break-all;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 10px;
}

body {
  font-family: "Ubuntu", sans-serif;
  color: #6e6e6e;
  font-size: 1.6rem;
  background: black;
}

header,
footer {
  display: block;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

img {
  border: 0;
}

ul {
  list-style: none;
}

.center {
  width: 1170px;
  margin: 20px auto 0;
}

.holder {
  margin: 12rem auto 0;
  width: 150px;
  height: 400px;
  position: relative;
}

.holder *,
.holder *:before,
.holder *:after {
  position: absolute;
  content: "";
}

/* .candle {
  bottom: 0;
  width: 150px;
  height: 300px;
  border-radius: 150px / 40px;
  box-shadow: inset 20px -30px 50px 0 rgba(0, 0, 0, 0.4),
    inset -20px 0 50px 0 rgba(0, 0, 0, 0.4);
  background: #190f02;
  background: -moz-linear-gradient(
    #e48825,
    #e78e0e,
    #833c03,
    #4c1a03 50%,
    #1c0900
  );
  background: -webkit-linear-gradient(
    #e48825,
    #e78e0e,
    #833c03,
    #4c1a03 50%,
    #1c0900
  );
  background: -o-linear-gradient(
    #e48825,
    #e78e0e,
    #833c03,
    #4c1a03 50%,
    #1c0900
  );
  background: -ms-linear-gradient(
    #e48825,
    #e78e0e,
    #833c03,
    #4c1a03 50%,
    #1c0900
  );
  background: linear-gradient(#e48825, #e78e0e, #833c03, #4c1a03 50%, #1c0900);
} */

/* .candle:before {
  width: 100%;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #d47401;
  background: #b86409;
  background: -moz-radial-gradient(#eaa121, #8e4901 45%, #b86409 80%);
  background: -webkit-radial-gradient(#eaa121, #8e4901 45%, #b86409 80%);
  background: -o-radial-gradient(#eaa121, #8e4901 45%, #b86409 80%);
  background: -ms-radial-gradient(#eaa121, #8e4901 45%, #b86409 80%);
  background: radial-gradient(#ffef80, #b86409 60%);
  background: radial-gradient(#eaa121, #8e4901 45%, #b86409 80%);
}

.candle:after {
  width: 34px;
  height: 10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  top: 14px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  background: -moz-radial-gradient(rgba(0, 0, 0, 0.6), transparent 45%);
  background: -webkit-radial-gradient(rgba(0, 0, 0, 0.6), transparent 45%);
  background: -o-radial-gradient(rgba(0, 0, 0, 0.6), transparent 45%);
  background: -ms-radial-gradient(rgba(0, 0, 0, 0.6), transparent 45%);
  background: radial-gradient(rgba(0, 0, 0, 0.6), transparent 45%);
} */

.thread {
  width: 6px;
  height: 36px;
  top: -17px;
  left: 50%;
  z-index: 1;
  border-radius: 40% 40% 0 0;
  transform: translateX(-50%);
  background: #121212;
  background: -moz-linear-gradient(
    #d6994a,
    #4b232c,
    #121212,
    black,
    #e8bb31 90%
  );
  background: -webkit-linear-gradient(
    #d6994a,
    #4b232c,
    #121212,
    black,
    #e8bb31 90%
  );
  background: -o-linear-gradient(#d6994a, #4b232c, #121212, black, #e8bb31 90%);
  background: -ms-linear-gradient(
    #d6994a,
    #4b232c,
    #121212,
    black,
    #e8bb31 90%
  );
  background: linear-gradient(#d6994a, #4b232c, #121212, black, #e8bb31 90%);
}

/* .flame {
  width: 15px;
  height: 40px;
  left: 50%;
  transform-origin: 50% 100%;
  transform: translateX(-50%);
  bottom: 100%;
  border-radius: 50% 50% 20% 20%;
  background: rgba(255, 255, 255, 1);
  background: -moz-linear-gradient(white 80%, transparent);
  background: -webkit-linear-gradient(white 80%, transparent);
  background: -o-linear-gradient(white 80%, transparent);
  background: -ms-linear-gradient(white 80%, transparent);
  background: linear-gradient(white 80%, transparent);
  animation: moveFlame 6s linear infinite, enlargeFlame 5s linear infinite;
} */

/* .flame:before {
  width: 100%;
  height: ;
  border-radius: 50% 50% 20% 20%;
  box-shadow: 0 0 15px 0 rgba(247, 93, 0, 0.4),
    0 -6px 4px 0 rgba(247, 128, 0, 0.7);
} */

@keyframes moveFlame {
  0%,
  100% {
    transform: translateX(-50%) rotate(-2deg);
  }
  50% {
    transform: translateX(-50%) rotate(2deg);
  }
}

@keyframes enlargeFlame {
  0%,
  100% {
    height: 120px;
  }
  50% {
    height: 140px;
  }
}

.glow {
  width: 26px;
  height: 60px;
  border-radius: 50% 50% 35% 35%;
  left: 50%;
  top: -48px;
  transform: translateX(-50%);
  background: rgba(0, 133, 255, 0.7);
  box-shadow: 0 -40px 30px 0 #dc8a0c, 0 40px 50px 0 #dc8a0c,
    inset 3px 0 2px 0 rgba(0, 133, 255, 0.6),
    inset -3px 0 2px 0 rgba(0, 133, 255, 0.6);
}

.glow:before {
  width: 70%;
  height: 60%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.35);
}

.blinking-blow {
  width: 100px;
  height: 180px;
  left: 50%;
  top: -55%;
  transform: translateX(-50%);
  border-radius: 50%;
  background: #ff6000;
  -webkit-filter: blur(50px);
  -moz-filter: blur(60px);
  -o-filter: blur(60px);
  -ms-filter: blur(60px);
  filter: blur(60px);
  animation: blinkIt 0.1s infinite;
}

@keyframes blinkIt {
  50% {
    opacity: 0.8;
  }
}
